<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>About</title>
</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap");

    * {
        font-family: "Maitree", serif;
        font-weight: 300;
    }
</style>

<body>
    <nav class="z-20 fixed h-[80px] w-full bg-[#000000d0]  text-white flex justify-between items-center">
        <h1 class="ml-8 font-bold text-3xl ">HealthCare</h1>
        <ul class="justify-center items-center hidden md:flex">
            <li class="m-2">
                <a href="/">Home</a>
            </li>
            <li class="m-2">
                <a href="/model">Models</a>
            </li>
            <li class="m-2">
                <a href="/intution">Intution</a>
            </li>
            <!-- <li class="m-2">
            <a href="/models">Feedback</a>
          </li> -->
        </ul>
        <button class="mr-8 border px-3 rounded-3xl py-1 border-white hover:bg-white hover:text-black hidden md:block">
            Get Started
        </button>
        <button class="mr-8 border px-3 rounded-3xl py-1 border-white hover:bg-white hover:text-black block md:hidden">
            MENU
        </button>
    </nav>
    <div>
        <!-- {/* models section */} -->

        <section class="min-h-[120vh] w-full pt-[100px] mb-[50px]">
            <div class="flex justify-center items-center text-center flex-col mt-14 mb-8 md:w-[70%] mx-auto">
                <h1 data-aos="fade-in" data-aos-duration="1000" class="text-[4rem]">
                    Advancing creativity with Machine Learning.
                </h1>
                <h2 data-aos="fade-in" data-aos-duration="1000" class="text-xl">
                    Runway is an applied AI research company building the next era of
                    art, entertainment and human creativity.
                </h2>
                <!-- {/* <button
              data-aos="fade-in"
              data-aos-duration="1000"
              class="border px-2 py-1 border-black rounded-3xl mt-8"
            >
              Our Tools
            </button> */} -->
            </div>

            <!-- {/* model cards */} -->

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 md:w-[80%] mx-auto px-6 mt-10">
                <div data-aos="zoom-in-right" data-aos-duration="1000" class="flex justify-center items-start flex-col">
                    <img src="{{url_for('static',filename='heart.jpg')}}" alt=""
                        class="h-[300px] w-full object-cover bg-fixed" />
                    <h1 class="text-xl font-bold my-2">Heart Disease</h1>
                    <h2>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, reprehenderit sed assumenda
                        eveniet consequuntur reiciendis. Ullam sit aliquid exercitationem tenetur hic incidunt ad dolor
                        odit non. Commodi, illum! Rerum, repudiandae.
                    </h2>
                    <button class="mt-6 bg-black text-white w-[40%]  text-2xl">
                        <a href="/model/heart">Test</a>
                    </button>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000" class="flex justify-center items-start flex-col">
                    <img src="{{url_for('static',filename='dibetes.jpg')}}" alt=""
                        class="h-[300px] w-full object-cover" />
                    <h1 class="text-xl font-bold my-2">Dibeties</h1>
                    <h2>
                        Diabetes is a chronic condition characterized by high blood sugar
                        levels due to the body’s inability to produce or effectively use
                        insulin.
                    </h2>
                    <button class="mt-6 bg-black text-white w-[40%] text-2xl">
                        <a href="/model/diabetes">Test</a>
                    </button>
                </div>
                <div data-aos="zoom-in-left" data-aos-duration="1000" class="flex justify-center items-start flex-col">
                    <img src="{{url_for('static',filename='kidney.jpeg')}}" alt=""
                        class="h-[300px] w-full object-cover" />
                    <h1 class="text-xl font-bold my-2">Kindey Disease</h1>
                    <h2>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ipsam impedit? Qui tempore
                        odit, impedit voluptate ipsum sequi facilis illum quia! Inventore praesentium quisquam repellat
                        atque mollitia? Iusto, iure asperiores!
                    </h2>
                    <button class="mt-6 bg-black text-white w-[40%]   text-2xl">
                        <a href="/model/kidney">Test</a>
                    </button>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>